.form {
  width: 400px;
  padding: 40px;
  margin: 50px auto;
  padding-left: 150px;
}

.label {
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

.input {
  width: 200px;
  margin-bottom: 20px;
  padding: 5px;
}

.button {
  width: 150px;
  padding: 5px;
}
