@import-normalize; /* bring in normalize.css styles */

body {
  /* margin: 30px 100px; */
  background-image: linear-gradient(
      rgba(219, 231, 83, 0.841),
      rgba(38, 206, 236, 0.878)
    ),
    url('./images/bcg.jpg');
  background-size: cover;
  background-repeat: repeat-y;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
